<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.littlejerk.mvparch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".app.MVPArchAPP"
        android:theme="@style/Theme.MVPArch">

        <meta-data
            android:name="MVPArch.LCEDelegate"
            android:value="com.littlejerk.mvparch.util.CustomLCEDelegate" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.testmvp.TestMvpActivity"/>
        <activity android:name=".activity.TestNormalActivity" />
        <activity
            android:name=".activity.TestHostActivity"
            android:label="测试" />

    </application>

</manifest>